doctype html
html
  head
    meta(charet='utf-8')
  body
    h1 Welcome to Check list
    div
      p
        a(href="/register")
          button 회원가입
      p
        a(href="/login")
          button 로그인
